main{
    width: 100%;
}

.confirm-purchase__container{
    display: flex;
    justify-content: space-between;
}

.container__left{
    width: 50%;
    padding: 0 50px;
    text-align: left;
}

.container__right{
    width: 50%;
    padding: 0 50px;
    text-align: left;
}

.container__img--wrapper{
    display: flex;
}

.container__payment-method--wrapper{
    display: flex;
    justify-content: space-between;
}

.container__shipping-address--wrapper{
    display: flex;
    justify-content: space-between;
}

.container__item-name--wrapper{
    margin-left: 50px;
}

.container__item-name{
    margin-bottom: 20px;
}

.container__payment-method--wrapper{
    margin-top: 20px;
}

.container__shipping-address--wrapper{
    margin-top: 20px;
}

.confirm-purchase__payment-info--table{
border: solid 1px black;
padding: 40px;
margin-bottom: 30px;
}

table{
    width: 100%;
}

td{
    text-align: right;
}

.confirm-purchase__payment-info--button button{
width: 100%;
border: none;
outline: none;
margin-top: 40px;
padding: 10px;
background: #ff5555;
display: inline-block;
color: #fff;
font-size: 18px;
font-weight: bold;
border-radius: 3px;
letter-spacing: 1px;
cursor: pointer;
}

.container__item-img{
    margin: 0 auto;
width: 50%;;
}