main{
    margin: 0;
    width: 100%;
    padding: 60px 40px;
}

.confirm-purchase__container{
    display: flex;
    justify-content: space-between;
}

.container__left{
    width: 50%;
    padding: 0 50px;
    text-align: left;
}

.container__right{
    width: 50%;
    padding: 0 50px;
    text-align: left;
}

.container__img--wrapper{
    display: flex;
}

.container__payment-method--wrapper{
    display: flex;
    justify-content: space-between;
}

.container__shipping-address--wrapper{
    display: flex;
    justify-content: space-between;
}

.container__item-name--wrapper{
    margin-left: 50px;
}

.container__item-name{
    margin-bottom: 20px;
}

.container__payment-method--wrapper{
    margin-top: 20px;
}

.container__shipping-address--wrapper{
    margin-top: 20px;
}

.confirm-purchase__payment-info--table{
border: solid 1px black;
padding: 40px;
margin-bottom: 30px;
}

table{
    width: 100%;
}

td{
    text-align: right;
}

.confirm-purchase__payment-info--button button{
width: 100%;
border: none;
outline: none;
margin-top: 40px;
padding: 10px;
background: #ff5555;
display: inline-block;
color: #fff;
font-size: 18px;
font-weight: bold;
border-radius: 3px;
letter-spacing: 1px;
cursor: pointer;
}

.container__item--wrapper{
    text-align: left;
    margin: 30px;
}

.comment__img {
    border-radius: 3px;
    position: relative;
    width: 100px; /* カードの幅 */
    height: 100px; /* カードの高さ */
    margin: 0px 0 30px 20px;
}

.card__image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.card__background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.card__item-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%; /* 商品画像の最大幅 */
    max-height: 80%; /* 商品画像の最大高さ */
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
}