main{
    width: 100%;
    padding-top: 40px;
}

sample_color{
    color: #ff5555;
    /* ボタンの背景、その他赤いところ */
    color: #5F5F5F;
    /* ボーダー */
    color: #0073cc;
    /* リンクの文字色 */
    color: #ff0000;
    /* おすすめの文字 */
    color: #d9d9d9;
    /* タグの背景色 */
}

.login-form {
width: 500px;
margin: 0 auto;
}

.login-form__title {
font-size: 24px;
font-weight: bolder;
margin-bottom: 20px;
}

.form__item {
margin-bottom: 20px;
}

.form__item label {
display: block;
text-align: left;
font-weight: bold;
}

.form__item input {
width: 100%;
font-size: 18px;
padding: 10px;
}

.form__submit button {
width: 100%;
border: none;
outline: none;
margin-top: 40px;
padding: 10px;
background: #ff5555;
display: inline-block;
color: #fff;
font-size: 18px;
font-weight: bold;
border-radius: 3px;
letter-spacing: 1px;
cursor: pointer;
}

.form__switch {
color: #0073cc;
margin-top: 20px;
cursor: pointer;
font-weight: bold;
}