main{
  padding-top: 40px;
}

.profile-change {
width: 500px;
margin: 0 auto;
}

.profile-change__title h1 {
font-size: 24px;
font-weight: bolder;
margin-bottom: 20px;
}

.profile-change__form--img {
display: flex;
padding-bottom: 40px;
margin: auto 0;
}

.form__img--img{
    margin: auto 0;
}

.profile-change__form--img img {
width: 100px;
height: 100px;
margin: auto 0;
border-radius: 50%;
}

.form__img--select-button {
padding-left: 40px;
margin: auto 0px;
}

.form__img--select-button button {
border: 3px solid #ff5555;
outline: none;
padding: 3px 20px 3px;
background: white;
display: inline-block;
color: #ff5555;
font-size: 18px;
font-weight: bold;
border-radius: 5px;
letter-spacing: 1px;
cursor: pointer;
}

.form__item {
margin-bottom: 20px;
}

.form__item label {
display: block;
text-align: left;
font-weight: bold;
}

.form__item input {
width: 100%;
font-size: 18px;
padding: 10px;
}

.form__submit {
margin-bottom: 100px;
}

.form__submit button {
width: 100%;
border: none;
outline: none;
margin-top: 40px;
padding: 10px;
background: #ff5555;
display: inline-block;
color: #fff;
font-size: 18px;
font-weight: bold;
border-radius: 3px;
letter-spacing: 1px;
cursor: pointer;
}

.form__switch {
color: #0073cc;
margin-top: 20px;
cursor: pointer;
font-weight: bold;
}

.form__item--control::file-selector-button {
  width: 100px;
  height: 40px;
  opacity: 0;
  position: relative;
}

.form__item--control::before{ 
  position: absolute;
  content: "画像を選択する";
  width: 100px;
  height: 40px;
  font-weight: bold;
  color: white;
  background: red;
  font-size: 14px;
  border-radius: 10em;
  text-align: center;
  align-items: center;
  display: grid;
  cursor: pointer;
}

.form__item--control{ 
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}