main{
    padding-top: 40px;
}

.register-form {
width: 500px;
margin: 0 auto;
}

.register-form__title {
font-size: 24px;
font-weight: bolder;
margin-bottom: 20px;
}

.form__item {
margin-bottom: 20px;
}

.form__item label {
display: block;
text-align: left;
font-weight: bold;
}

.form__item input {
width: 100%;
font-size: 18px;
padding: 10px;
}

.form__submit button {
width: 100%;
border: none;
outline: none;
margin-top: 40px;
padding: 10px;
background: #ff5555;
display: inline-block;
color: #fff;
font-size: 18px;
font-weight: bold;
border-radius: 3px;
letter-spacing: 1px;
cursor: pointer;
}

.form__switch {
margin-top: 20px;
}

.form__switch a{
color: #0073cc;
cursor: pointer;
font-weight: bold;
}